#page1, #page2, #page3, #page4, #page5, #page6, #page7, #page8, #page9,#page10,#page11,#page12, #page13, #page14, #page15, #page15, #page16, #page17, #page18, #page19, #page20{
  display:none
}

body { 
  background-image: url(../img/warehouseinterior.jpg);
  background-color: rgba(0, 0, 0, 0.288);
  background-blend-mode:color-dodge;
  background-size:cover;
  text-shadow: 10px 10px 10px black;
  color: white;
  text-align: center;
  
}

.text-block {
  background-color: rgba(0, 0, 0, 0.541);
  padding: 30px;
  font-family: 'Roboto', sans-serif;
  font-weight:bold;
  font-size: large;
}
.text-block h1 {
  font-size: large;
}

.text-block p{
  text-align: left;
}

.jumbotron h1{
  font-size: 90px;
  font-family: 'Bebas Neue', cursive;
}

.jumbotron {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.658), black);
  box-shadow:inset 5px -30px 30px 2px #ffffff;
}

.button {
	box-shadow:inset 16px 1px 17px 4px #ffffff;
	background-color:rgba(255, 255, 255, 0.233);
	border-radius:6px;
	border:2px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:'Bebas Neue', cursive;
	font-size:20px;
	text-shadow: 3px 3px 6px rgba(245, 245, 245, 0.534);
	padding:8px 24px;
  margin: 15px;
}

.button1 {
	background-color:rgba(236, 236, 236, 0.158);
	border-radius:6px;
  border: 2px solid white;
  box-shadow: 3px 3px 20px white;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:'Bebas Neue', cursive;
	font-size: 40px;
	text-shadow: 6px 6px 15px white;
	padding:17px;
  width: 300px;
  margin: 15px;
}